/*!
Theme Name: iconik_studio
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: iconik_studio
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned.

iconik_studio is based on Underscores https://underscores.me/, (C) 2012-2020 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic
	- Normalize
	- Box sizing
# Base
	- Typography
	- Elements
	- Links
	- Forms
## Layouts
# Components
	- Navigation
	- Posts and pages
	- Comments
	- Widgets
	- Media
	- Captions
	- Galleries
# plugins
	- Jetpack infinite scroll
# Utilities
	- Accessibility
	- Alignments

--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Generic
--------------------------------------------------------------*/

/* Normalize
--------------------------------------------- */

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
	 ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

 html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	scroll-behavior: smooth;
}

body {
	margin: 0;
}

h1 {
	margin-top: 2rem;
	margin-bottom: 1.5rem;
	font-size: 3em;
	font-family: 'AvenirNextLTPro-Bold', monospace;
	text-transform: uppercase;
}

hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

pre {
	font-family: monospace, monospace;
	font-size: 1em;
}

a {
	background-color: transparent;
}

abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted;
}

b,
strong {
	font-weight: bolder;
}

code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

img {
	border-style: none;
}

button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

button,
input {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

fieldset {
	padding: 0.35em 0.75em 0.625em;
}

legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}

progress {
	vertical-align: baseline;
}

textarea {
	overflow: auto;
}

[type="checkbox"],
[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

details {
	display: block;
}

summary {
	display: list-item;
}

template {
	display: none;
}

[hidden] {
	display: none;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Typography
--------------------------------------------- */
@font-face {
	font-family: 'AvenirNextLTPro';
	src: url("Fonts/AvenirNextLTPro-Regular.otf");
}

@font-face {
	font-family: 'AvenirNextLTPro-Bold';
	src: url("Fonts/AvenirNextLTPro-Bold.otf");
}

@font-face {
	font-family: 'AvenirNextLTPro-It';
	src: url("Fonts/AvenirNextLTPro-It.otf");
}

@font-face {
	font-family: 'Raleway';
	src: url("Fonts/Raleway-ExtraLight.ttf");
}

@font-face {
	font-family: 'Raleway-Regular';
	src: url("Fonts/Raleway-Regular.ttf");
}

.catchphrase {
	font-family: 'Raleway';
	font-size: smaller;
}

.site-info {
	font-family: 'Raleway-Regular';
	text-transform: uppercase;
	display: flex;
	gap: 3rem;
}


.alignleft {
	margin-bottom: 0 !important;
}

.full-line-front {
	width: 100vw;
	margin-left: calc(50% - 6rem) !important;
	transform: translateX(-50%);
}

.button-play-front>.wpb_wrapper>h1 {
	margin-top: 0;
}

.button-play-front {
	display: flex;
	margin-top: 5rem;
	justify-content: center;
	padding: 3rem 1rem;
	background-color: #fb6f18;
	border-radius: 0.5rem;
}

.highlight-line {
	font-size: x-large;
}

.bold {
	font-family: 'AvenirNextLTPro-Bold', monospace;
}

.italic {
	font-family: 'AvenirNextLTPro-It';
}

.page-title h1 {
	padding-top: 2rem;
	margin-top: 0rem !important;
}

body {
	color: #fff;
	font-family: 'AvenirNextLTPro', monospace;
	font-size: 1rem;
	line-height: 1.5;
}

h2 {
	text-transform: uppercase;
	font-size: 1.8em;
	font-family: 'AvenirNextLTPro-Bold', monospace;
}

h3 {
	font-size: 1.5em;
	font-family: 'AvenirNextLTPro-Bold', monospace;

}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

/* Elements
--------------------------------------------- */
body {
	background: #000;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 1.5em 1.5em;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

.keyfeature-img {
	width: 100%;
	aspect-ratio: 1;
}

.keyfeature-img>.p-desc {
	display: flex;
}

figure {
	margin: 1em 0;
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/* Links
--------------------------------------------- */
a {
	color: #fff;
}

/* Forms
--------------------------------------------- */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	color: rgba(0, 0, 0, 0.8);
	line-height: 1;
	padding: 0.6em 1em 0.4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
}

button:active,
button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
	border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

select {
	border: 1px solid #ccc;
}

textarea {
	width: 100%;
}

/*--------------------------------------------------------------
# Layouts
--------------------------------------------------------------*/
.site-main section:not(.modal-card-body) {
	padding: 8rem 8rem;
	min-height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.vc_col-sm-12 {
	margin: 1em 8em 0;
}

/*
.all-articles::after {
    content: '';
    box-shadow: inset 0 5rem 0.5rem 0 rgba(0, 0, 0, .5), 
				inset 0 -5rem 0.5rem 0 rgba(0, 0, 0, .5);
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
*/
/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/* Navigation
--------------------------------------------- */
#masthead {
	height: 8rem;
	position: fixed;
	width: 100vw;
	z-index: 999;
	top: 0;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0 2rem;
}

.burger {
	display: none;
	color: white;
	font-size: 2.5rem;
	cursor: pointer;
	width: 2rem;
	text-align: center;
}

.burger::after {
	content: '☰';
}

.burger-footer {
	display: none;
	color: white;
	font-size: 2.5rem;
	cursor: pointer;
	width: 2rem;
	text-align: center;
}

.burger-footer::after {
	content: '☰';
}

.main-navigation {
	padding-left: 6rem;
}

.main-navigation ul {
	display: flex;
	justify-content: space-between;
	list-style: none;
	text-transform: uppercase;
	gap: 5em;
	padding: 0;
	margin: 0;
}

.nav-right {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 2rem;
	/*padding-right: 2rem;*/
}

.background-shadow {
	background-color: rgba(0, 0, 0, 0.5);
	transition: all 0.5s;
}

@media (max-width: 1000px) {
	#masthead {
		height: 5.5rem;
		background-color: rgba(0, 0, 0, 0.5);
	}

	.burger {
		display: block;
	}

	.burger-footer {
		display: block;
	}

	.menu-primary-container {
		text-align: center;
	}

	.menu-primary-container>ul {
		position: fixed;
		top: 5.5rem;
		left: 0;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		flex-direction: column;
		line-height: 3em;
	}

	.main-navigation ul {
		gap: 2em;
	}

	.main-navigation {
		padding-left: 0;
	}

	#burger-toggle-footer:not(:checked)~.menu-footer-container {
		display: none;
	}

	#burger-toggle-footer:checked~.burger-footer::after{
		content: "\00d7";
	}

	#burger-toggle:not(:checked)~.menu-primary-container {
		display: none;
	}

	#burger-toggle:checked~.burger-footer::after {
		content: "\00d7";
	}
}

.main-navigation li {
	cursor: pointer;
	padding-bottom: 0.15em;
	border-bottom: 2px solid transparent;
	font-size: 1.25rem;
}

.main-navigation li.current_page_item,
.main-navigation li:hover {
	border-bottom: 2px solid white;
}

.main-navigation a {
	display: block;
	text-decoration: none;
	color: #fff;
}

.bottom-line a:hover {
	color: rgba(255, 255, 255, 0.5);
}

a:hover {
	color: #fff;
}

.play {
	text-decoration: none;
	border-radius: 1rem;
	background-color: hsla(0, 0%, 100%, 0.4);
	border: solid white 1px;
	padding: 1rem 2rem;
	cursor: pointer;
	font-size: 1.25rem;
	text-transform: uppercase;
}

.play:hover,
.play:focus,
.play:active {
	background-color: hsla(0, 0%, 100%, 0.2);
}

.lang {
	display: flex;
	padding: 1rem;
	border-radius: 50%;
	background-color: hsla(0, 0%, 100%, 0.4);
	cursor: pointer;
}

.flag-img {
	width: 3rem;
	cursor: pointer;
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
}

.comment-navigation .nav-links,
.posts-navigation .nav-links,
.post-navigation .nav-links {
	display: flex;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	flex: 1 0 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	text-align: end;
	flex: 1 0 50%;
}

/* Posts and pages
--------------------------------------------- */
.sticky {
	display: block;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 0 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/* Comments
--------------------------------------------- */
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/* Widgets
--------------------------------------------- */
.p-desc {
	border-left: solid 2px white;
	padding-left: 2rem;
	padding-right: 1rem;
	margin-bottom: 10px;
}

.requirements {
	display: flex;
	gap: 8rem;
}

.widget p {
	margin-top: 0rem;
}

.widget .wp-block-group__inner-container {
	border-left: solid 2px white;
	padding-left: 2rem;
	padding-right: 1rem;
	max-height: 20rem;
	overflow: hidden;
}

.widget .wp-block-group__inner-container:hover {
	background-color: rgba(0, 0, 0, 0.1);
	overflow-y: scroll;
	transition: background-color 0.5s;
}

iframe {
	width: 100%;
	height: auto;
	aspect-ratio: 16 / 9;
}

/* width */
::-webkit-scrollbar {
	width: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	border-radius: 1rem;
	background: #fff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgba(85, 85, 85, 0);
}

/* Media
--------------------------------------------- */
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

.wp-block-image {
	max-width: 10rem;
	height: auto;
}

/* Footer
------------------------------------------------*/
.site-footer {
	padding-top: 4rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer-logo {
	max-width: 8rem;
	cursor: pointer;
}

.logo-iconik {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;
	padding-bottom: 0.5rem;
}

.bottom-line {
	font-family: 'Raleway';
	font-size: 0.9rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 1rem 0rem;
	gap: 3rem;
}

.social-networks {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

.network-bottom {
	width: 1.5rem;
}

.footer-navigation ul {
	list-style: none;
}

.footer-navigation a {
	text-decoration: none;
}

#Footer-menu {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	gap: 3rem;
}

/* Captions
--------------------------------------------- */
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/* Galleries
--------------------------------------------- */
.gallery {
	margin-bottom: 1.5em;
	display: grid;
	grid-gap: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	width: 100%;
}

.gallery-columns-2 {
	grid-template-columns: repeat(2, 1fr);
}

.gallery-columns-3 {
	grid-template-columns: repeat(3, 1fr);
}

.gallery-columns-4 {
	grid-template-columns: repeat(4, 1fr);
}

.gallery-columns-5 {
	grid-template-columns: repeat(5, 1fr);
}

.gallery-columns-6 {
	grid-template-columns: repeat(6, 1fr);
}

.gallery-columns-7 {
	grid-template-columns: repeat(7, 1fr);
}

.gallery-columns-8 {
	grid-template-columns: repeat(8, 1fr);
}

.gallery-columns-9 {
	grid-template-columns: repeat(9, 1fr);
}

.gallery-caption {
	display: block;
}

/*--------------------------------------------------------------
# Plugins
--------------------------------------------------------------*/

/* Jetpack infinite scroll
--------------------------------------------- */

/* Hide the Posts Navigation and the Footer when Infinite Scroll is in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
	display: none;
}

/* Re-display the Theme Footer when Infinite Scroll has reached its end. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Utilities
--------------------------------------------------------------*/

/* Accessibility
--------------------------------------------- */

/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	clip-path: none;
	color: #21759b;
	display: block;
	font-size: 0.875rem;
	font-weight: 700;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
}

/* Do not show the outline on the skip link target. */
#primary[tabindex="-1"]:focus {
	outline: 0;
}

/* Alignments
--------------------------------------------- */
.alignleft {

	/*rtl:ignore*/
	float: left;

	/*rtl:ignore*/
	margin-right: 1.5em;
	margin-bottom: 1.5em;
}

.alignright {

	/*rtl:ignore*/
	float: right;

	/*rtl:ignore*/
	margin-left: 1.5em;
	margin-bottom: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.5em;
}

.network-bottom > img {
	height: auto;
	max-width: 100%;
}

/* Keyframes
--------------------------------------------- */

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translate3d(0, 100%, 0);
	}

	100% {
		opacity: 1;
		transform: none;
	}
}

@keyframes fadeInRight {
	0% {
		opacity: 0;
		transform: translate3d(100%, 0, 0);
	}

	100% {
		opacity: 1;
		transform: none;
	}
}

/* Animation 
---------------------------------------------------------------- */
.menu-item {
	animation-name: fadeInRight;
}

.logo_nav {
	position: absolute;
	height: 50px;
    left: 1rem;
    top: 2rem;
}

@media only screen and (max-width: 768px) {
	.vc_col-sm-12 {
		margin: 1em 0 0;
	}

	.p-desc {
		flex-direction: column;
		gap: 2rem !important;
	}

	h2 {
		font-size: 1.5em;
	}

	.bottom-line {
		gap: 0 !important;
		flex-direction: column !important;
	}

	#Footer-menu {
		flex-direction: column !important;
		gap: 2rem !important;
		padding-top: 1rem !important;
		align-items: center;
	}

	#masthead {
		justify-content: space-around !important;
		padding: 0 2rem 0 7rem !important;
	}

	.logo_nav {
		top: 1rem !important;
	}
}